<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<main role="main">

    <section class="jumbotron text-center">
      <% include ../partials/jumbotron.ejs %>
    </section>

    <div class="album py-5 bg-light">        
        <div class="container">
            <div class="row">
                <% if (data) { %>
                    <% data.forEach(function(r) { %>
                        <%- include('../partials/picture.ejs', {id: r.id_picture, text: r.text_picture, image: r.image_picture, time: r.time_picture}); %>
                    <% }); %>
                <% } %>        
            </div>
        </div>
    </div>

  </main>

<% include ../partials/footer.ejs %>
    
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>

</body>
</html>  